<div id="<%= dom_id pharmaceutical %>">
  <p>
    <strong>Patient:</strong>
    <%= pharmaceutical.patient_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pharmaceutical.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= pharmaceutical.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pharmaceutical.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pharmaceutical.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= pharmaceutical.phone_number %>
  </p>

  <p>
    <strong>Prescription medicines:</strong>
    <%= pharmaceutical.prescription_medicines %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= pharmaceutical.delivery_address %>
  </p>

</div>
